<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="ConString" connectionString="Data Source=tcp:sqlazuredatabase001.database.windows.net,1433;Initial Catalog=itpm;Persist Security Info=True;User ID=pasanuvindu;Password=Sinixya@iit7;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30"
   providerName="System.Data.sqlClient" />
 </connectionStrings>
</configuration>



